.leader-board {
    position: relative;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.leader-board__list {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 600px;
    padding-top: 50px;
}

.leader-board__item {
    display: flex;
    justify-content: space-between;
}

.board-pagination {
    position: absolute;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    list-style-type: none;
}

.board-pagination a {
    color: #3A3A3A;
    user-select: none;
}
    
.pagination__button {
    position: relative;
    margin: 0 50px 0 0;
    padding: 0 0 0 15px;
    border: none;
    background-color: unset;
    font-weight: 700;
}

.pagination__button:hover {
    cursor: pointer;
}

.pagination__button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 9px;
    height: 9px;
    border-top: 2px solid #3A3A3A;
    border-left: 2px solid #3A3A3A;
    transform: translateY(-50%) rotate(-45deg);
    transition: border-color .5s;
}
        

.pagination__button--next {
    margin: 0 0 0 45px;
    padding: 0 15px 0 0;
}

.pagination__button--next::before {
    right: 0;
    left: unset;
    transform: translateY(-50%) rotate(135deg);
}

.pagination__button--disabled:hover {
    cursor: default;
}

.pagination__button--disabled::before{
    border-color: #DBDBDB;
}

.pagination__button--disabled a {
    color: #DBDBDB !important;
    outline: none;
    transition: color .3s;
}

.pagination__button--disabled a:hover {
    cursor: default;
}

.pagination__page {
    margin-right: 5px;
}

.pagination__page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    font-size: 18px;
    font-weight: bold;
    transition: all .3s;
}

.pagination__page-link:hover {
    text-decoration: none;
}
        
a.pagination__page-link--active {
    background-color: #c3e6cb;
}