.config {
    display: flex;
}

.dropdown {
    margin-right: 5px;
}

.dropdown .dropdown-toggle {
    position: relative;
    min-width: 160px;
    text-align: left;
}

.dropdown .dropdown-toggle::after {
    position: absolute;
    top: 50%;
    right: 12px;
}

.form-control {
    margin-right: 5px;
}

.btn-success {
    min-width: 100px;
}